<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->

<body>
<!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->

<div class="container">
    <div class="row">
        <div class="col col-6">
            <h2 class="text-center">Product Requisition</h2>

            <form class="from" th:action="@{/product/save-card}" th:object="${card}">

                Product List:
                <select th:field="*{product}" class="form-control productId" name="id" required>
                    <option th:each="product : ${productList}"
                            th:value="${product.productId}"
                            th:text="${product.name}">
                    </option>
                </select><br>
                price : <input type="number" class="form-control productPrice"
                               placeholder="price" readonly/><br>

                Product Quantity: <input type="number" min="1" name="quantity" th:field="*{quantity}"  class="form-control"
                                      placeholder="Requisite Quantity" required/><br>

                <!------------------------------- Button ---------------------------------->
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" type="submit">Add to card</button>
                    <br>
                </div>

            </form>
            <a class="btn" th:href="@{'/product/card'}"><button class="btn btn-primary">card</button></a>
            <a class="btn" th:href="@{'/delivery/show-pending-product'}"><button class="btn btn-primary">Pending Product</button></a>
        </div>
        <h1 class="text-center"><u>Card</u></h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>product</th>
                <th>quantity</th>
                <th th:colspan="2">Action</th>
            </tr>
            </thead>
            <tbody class="table-body"></tbody>
        </table>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){

        $.ajax({
            url: '/product/get-item-details',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            success: function (resp) {

                $.each(resp, function (i, item) {
                    var row = `<tr>
                            <td>${item.id}</td>
                                 <td>${item.product}</td>
                                 <td>${item.quantity}</td>

                                 <td>
                                 <button type="submit"class="btn btn-success" data-dismiss="modal"onclick="editStudent(${item.stuId})">Edit Info</button>
                                 <button type="submit"class="btn btn-danger" data-dismiss="modal"onclick="deleteStudent(${item.stuId})">Delete</button>
                                  </td>
                        </tr>`;
                    $(".table-body").append(row);
                });
            },
            error: function (err) {
                console.log(err);
            }
        });

        $('.productId').on('change', function (e) {
            e.preventDefault();
            var id = $(".itemDropdown option:selected").val();
            $.ajax({
                url: '/product/get-item-details' + id,

                method: 'GET',

                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },

                success: function (response) {

                    $(".productPrice").val(response.price);

                },

                error: function (error) {
                    console.log(error);
                }
            });
        });
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    });
</script>
</html>