<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add product</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="body">
    <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h1 class="title">Add new product</h1>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>
          <form class="from" th:action="@{/product/save-item}" th:object="${product}" method="post" enctype="multipart/form-data">
            <div class="input-container">
              <input type="text" name="name" th:field="*{name}" class="input form-control productPrice" required/>
              <label for="">Product Name</label>
              <span>Product Name</span>
            </div>

            <div class="input-container">
              <select th:field="*{liter}" class="form-control productId input" name="product" required>
                <option th:each="liter : ${liters}"
                        th:value="${liter.id}"
                        th:text="${liter.name}">
                </option>
              </select>
              <label for="">Liter</label>
              <span>Liter</span>
            </div>

            <div class="input-container">
              <input type="file" name="productImage" accept="image/jpeg,image/png,image/jpg" class="input"
                     required/>
              <label for="">Product Image</label>
              <span>Product Image</span>
            </div>

            <div class="input-container">
              <input type="text"  th:field="*{Quantity}"   class="input"
                     required/>
              <label for="">Product Per Carton</label>
              <span>Product Per Carton</span>
            </div>

            <div class="input-container">
              <input type="text"  th:field="*{price}"  class="input"
                     required/>
              <label for="">Product Price Per Carton</label>
              <span>Product Price Per Carton</span>
            </div>

            <!------------------------------- Button ---------------------------------->
            <div class="col-md-12 text-right">
              <button class="btn btn-primary" type="submit">Add</button>
              <br>
            </div>

            <h5 th:text="${message}"></h5>

          </form>
        </div>
      </div>
    </div>
  </body>
  <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
  <script th:src="@{/js/jquery-ui.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/form.js}"></script>
</html>
