<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <h1>Admin Home</h1>
</head>
<a th:href="@{/logout}">Admin Logout</a><br><br>

<body>

</body>
</html>