<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Welcome</title>
    <script
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"
    ></script>
    <style>
        .btn-grad {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
        .btn-grad {
            margin-left: 130px;
            margin-right: 130px;
            margin-top: 80px;
            padding: 15px 45px;
            border: none;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
        }

        .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
        }

        .container{
            height: 821px;
            alignment: center;
            position: relative;
        }
        .mydiv{
            alignment: center;
            margin: 0 auto;
            padding-top: 1px;
            height: 600px;
            width: 600px;
            background: rgba(154, 231, 253, 0.31);
            border-radius: 10%;
        }
        .mytext{
            margin-top: 100px;
        }
        body {
            padding: 0px;
            margin: 0;
            background: linear-gradient(324deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h1 {
            font-size: 72px;
            background: -webkit-linear-gradient(#1e3eee, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="mydiv">
        <div class="mytext">
    <h2 align="center" class="mytext">Please</h2>
    <h2 align="center">Wait for you Confirmation</h2>
    <a class="btn-grad" th:href="@{'/dealer/add/'}">Check</a>
        </div>
    </div>
</div>
</body>
</html>
