<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact Form</title>
  <link rel="stylesheet" th:href="@{/css/form.css}">
  <link rel="stylesheet" th:href="@{/css/table.css}">
  <link rel="stylesheet" th:href="@{/css/nav.css}">
  <script
          src="https://kit.fontawesome.com/64d58efce2.js"
          crossorigin="anonymous"
  ></script>
</head>
<body >
<div>
  <table>
    <thead>
    <tr id="header">
      <th>User id</th>
      <th>User name</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user:${users}">
      <tr>
        <td th:text="${user.userId}"></td>
        <td th:text="${user.username}"></td>
      </tr>
    </th:block>
    </tbody>
  </table>
</div>
</body>
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/form.js}"></script>
</html>