<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body >
  <div>
    <table>
      <thead>
      <tr id="header">
        <th>Transaction id</th>
        <th>Payment Method</th>
        <th>Account Number</th>
        <th>Initial Amount</th>
        <th colspan="2">Action</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="requisition:${requisitionList}">
        <tr>
          <td th:text="${requisition.transactionId}"></td>
          <td th:text="${requisition.paymentMethod.name}"></td>
          <td th:text="${requisition.accountNumber}"></td>
          <td th:text="${requisition.initialAmount}"></td>

          <td>
            <a class="btn-grad" th:href="@{'/requisition/accept/'+${requisition.id}}">Accept</a>
            <a class="btn-grad" th:href="@{'/requisition/delete/'+${requisition.id}}">Delete</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
  </body>
  <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
  <script th:src="@{/js/jquery-ui.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/form.js}"></script>
</html>
