<html xmlns:th="http://www.w3.org/1999/xhtml">
<!------------------------------------------------- Title, Bootstrap --------------------------------------------------->
<head th:fragment="head(title='')">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<!------------------------------------------------- Navigation Bar --------------------------------------------------->
<div  th:fragment="navigation" >
    <nav  class="navbar navbar-dark bg-dark">
        <a class="btn" th:href="@{/admin/home}">Admin</a>
        <a class="btn" th:href="@{/dealer/}">Dealer</a>
        <a class="btn" th:href="@{/inventoryManager/}">Inventory Manager</a>
        <a class="btn" th:href="@{/accountManager/}">Account Manager</a>
        <a class="btn" th:href="@{/deliveryInCharge/}">Delivery in-Charge</a>
    </nav>

</div>

</html>
<!----------------------------------------------------------------------------------------------------------------------------->




<!------------------------------------------------- Add To View Page ----------------------------------------------->
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->

<!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->
