<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Navbar</title>
    <script
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"
    ></script>
    <style>
        .mynav{
            position: absolute;
            left: 75%;
            bottom: 100%;
        }

        .navbar {
            border-radius: 17px;
            width: 400px;
            align-content: end;
        }
        .b{
            position:relative;
        }
        .a {
            position:absolute;
            left: 81%;
            border: none;
            border-radius: 50%;
            padding-right: 30px ;
            margin-top: 20px;


        }
        .flax{
            display: flex;
            justify-content: space-evenly;
        }
        .navbar-light{
            background: rgb(63,94,251);
            background: linear-gradient(302deg, rgba(63, 94, 251, 0.4) 0%, rgba(255, 114, 0, 0.31) 100%);
        }

        .left{
            float: left;
            height: 50px;
            width: 50px;
            align-content: center;
            margin-top: 4px;
            margin-bottom: -4px;
            padding-top: 15px;
            padding-left: 15px;
        }
        .left:hover{
            background: rgba(152, 152, 152, 0.74);
            border-radius: 30%;
            width: 55px;
        }
        .nav-icon{
            color: #e5f9ff;
        }


    </style>
</head>
<body>
<!------------------------------------------------- NavBar --------------------------------------------------->
<span th:fragment="navbar"  class="mynav">
             <div class="b">
    <div class="col-sm-5 a" >
        <nav class="navbar navbar-light" style="background-color: #9ae7fd;">
            <div class="container-fluid flax">
                <ul type="none">
                    <li class="left active"><a th:href="@{'/dealer/add-to-cart'}"><i class="fas fa-home nav-icon"></i></a></li>
                    <li class="left"><a href="#"><i class="fas fa-user-circle nav-icon"></i></a></li>
                    <li class="left"><a th:href="@{'/dealer/cart'}"><i class="fas fa-cart-plus nav-icon"></i></a></li>
                    <li class="left"><a th:href="@{'/dealer/show-pending-product'}"> <i class="fas fa-weight-hanging nav-icon"></i></a></li>
                    <li class="left"><a href="#"> <i class="fas fa-search nav-icon"></i></a></li>
                    <li class="left"><a th:href="@{'/logout'}">  <i class="fas fa-sign-out-alt nav-icon"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
        </span>

</body>
</html>
<!----------------------------------------------------------------------------------------------------------------------------->




<!------------------------------------------------- Add To View Page ----------------------------------------------->

<!--/*/ <th:block th:include="@{fragments/navbar} :: navbar"></th:block> /*/-->
