<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="body">
    <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Product Details</h3>

        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>
          <form class="from" th:action="@{/dealer/save-cart}" th:object="${card}">

            <div class="input-container">
              <select th:field="*{product}" id="itemDropdown" class="form-control input" >
                <option th:each="product : ${productList}"
                        th:value="${product.productId}"
                        th:text="${product.name}">
                </option>
              </select>
              <label for="">Product</label>
              <span>Product</span>
            </div>
            <div class="input-container">
              <input type="number" name="price" class="input form-control productPrice"
                      readonly/>
              <label for="">Price</label>
              <span>Price</span>
            </div>

            <div class="input-container">
              <input type="number" min="1" name="quantity" th:field="*{quantity}"  class="input form-control"
                     required/>
              <label for="">Quantity</label>
              <span>Quantity</span>
            </div>

            <!------------------------------- Button ---------------------------------->
            <div class="col-md-12 text-right">
              <button class="btn btn-primary" type="submit">Add to cart</button>
              <br>
            </div>

          </form>
        </div>
      </div>
      <span class="cart">
        <div>
        <a th:href="@{'/dealer/cart'}"><button class="btn btn-primary">My cart</button></a>
        <a th:href="@{'/dealer/show-pending-product'}"><button class="btn btn-primary">Pending Product</button></a>
      </div></span>
    </div>
    <span  class="mynav">
             <div class="b">
    <div class="col-sm-5 a" >
        <nav class="navbar navbar-light" style="background-color: #9ae7fd;">
            <div class="container-fluid flax">
                <ul type="none">
                    <li class="left active"><a th:href="@{'/dealer/add-to-cart'}"><i class="fas fa-home nav-icon"></i></a></li>
                    <li class="left"><a href="#"><i class="fas fa-user-circle nav-icon"></i></a></li>
                    <li class="left"><a th:href="@{'/dealer/cart'}"><i class="fas fa-cart-plus nav-icon"></i></a></li>
                    <li class="left"><a th:href="@{'/dealer/show-pending-product'}"> <i class="fas fa-weight-hanging nav-icon"></i></a></li>
                    <li class="left"><a href="#"> <i class="fas fa-search nav-icon"></i></a></li>
                    <li class="left"><a th:href="@{'/logout'}">  <i class="fas fa-sign-out-alt nav-icon"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
        </span>

    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/form.js}"></script>
    <script type="text/javascript">
      $(document).ready(function(){

        $('#itemDropdown').on('change', function (e) {
          e.preventDefault();
          var id = $("#itemDropdown option:selected").val();
          debugger;
          $.ajax({
            url: '/product/get-product-details/' + id,

            method: 'GET',

            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },

            success: function (response) {

              $(".productPrice").val(response.price);

            },

            error: function (error) {
              console.log(error);
            }
          });
        });
        $.fn.serializeObject = function () {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function () {
            if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
            } else {
              o[this.name] = this.value || '';
            }
          });
          return o;
        };
      });
    </script>
  </body>

</html>
