<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="body">
    <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Dealer form</h3>

        </div>
        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>
          <form class="from" th:action="@{/dealer/save}" th:object="${dealer}">
            <input type="hidden" th:field="*{id}"/>
            <div class="input-container">
              <input type="text" name="price" th:field="*{name}" class="input form-control"/>
              <label for="">Dealer name</label>
              <span>Dealer name</span>
            </div>
            <div class="input-container">
              <input type="text" name="price" placeholder="" th:field="*{nId}" class="input form-control"/>
              <label for="">National Id</label>
              <span>National Id</span>
            </div>
            <div class="input-container">
              <input type="text" name="price" placeholder=""  th:field="*{tinId}" class="input form-control productPrice"/>
              <label for=""> TIN Id</label>
              <span> TIN Id</span>
            </div>
            <!------------------------------- Button ---------------------------------->
            <div class="col-md-12 text-right">
              <button class="btn btn-primary" type="submit">Apply</button>
              <br>
            </div>

          </form>
        </div>
      </div>
    </div>
  </body>
  <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
  <script th:src="@{/js/jquery-ui.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/form.js}"></script>
</html>
