<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="body">
    <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Total Price</h3>
          <h3 class="title" th:text = "${total_price}"></h3>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>
          <form class="from" th:action="@{/dealer/save-requisition}" th:object="${requisition}">
            <div class="input-container">
              <input type="text" name="price" th:field="*{transactionId}" class="input form-control productPrice"/>
              <label for="">Transaction</label>
              <span>Transaction</span>
            </div>

            <div class="input-container">
              <select th:field="*{paymentMethod}" class="form-control productId input" name="product" required>
                <option th:each="paymentMethod : ${paymentMethodList}"
                        th:value="${paymentMethod.id}"
                        th:text="${paymentMethod.name}">
                </option>
              </select>
              <label for="">Payment method</label>
              <span>Payment method</span>
            </div>

            <div class="input-container">
              <input type="text" th:field="*{accountNumber}"   class="input form-control"
                     required/>
              <label for="">Account Number</label>
              <span>Account Number</span>
            </div>

            <div class="input-container">
              <input type="text"  th:field="*{initialAmount}"   class="input form-control"
                     required/>
              <label for="">Initial Amount</label>
              <span>Initial Amount</span>
            </div>

            <!------------------------------- Button ---------------------------------->
            <div class="col-md-12 text-right">
              <button class="btn btn-primary" type="submit">Apply</button>
              <br>
            </div>

          </form>
        </div>
      </div>
    </div>
    <span  class="mynav">
             <div class="b">
    <div class="col-sm-5 a" >
        <nav class="navbar navbar-light" style="background-color: #9ae7fd;">
            <div class="container-fluid flax">
                <ul type="none">
                    <li class="left active"><a th:href="@{'/dealer/add-to-cart'}"><i class="fas fa-home nav-icon"></i></a></li>
                    <li class="left"><a href="#"><i class="fas fa-user-circle nav-icon"></i></a></li>
                    <li class="left"><a th:href="@{'/dealer/cart'}"><i class="fas fa-cart-plus nav-icon"></i></a></li>
                    <li class="left"><a th:href="@{'/dealer/show-pending-product'}"> <i class="fas fa-weight-hanging nav-icon"></i></a></li>
                    <li class="left"><a href="#"> <i class="fas fa-search nav-icon"></i></a></li>
                    <li class="left"><a th:href="@{'/logout'}">  <i class="fas fa-sign-out-alt nav-icon"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
        </span>
  </body>
  <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
  <script th:src="@{/js/jquery-ui.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/form.js}"></script>
</html>
