<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body >
  <div>
    <table>
      <thead>
      <tr id="header">
        <th>Name</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="card:${cards}">
        <tr>
          <td th:text="${card.user.dealer.name}"></td>
          <td th:text="${card.product.name}"></td>
          <td th:text="${card.quantity}"></td>
          <td>
            <a class="btn-grad" th:href="@{'/dealer/delivered/'+${card.id}}">Click to delivered</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
  <span  class="mynav">
             <div class="b">
    <div class="col-sm-5 a" >
        <nav class="navbar navbar-light" style="background-color: #9ae7fd;">
            <div class="container-fluid flax">
                <ul type="none">
                    <li class="left active"><a th:href="@{'/dealer/add-to-cart'}"><i class="fas fa-home nav-icon"></i></a></li>
                    <li class="left"><a href="#"><i class="fas fa-user-circle nav-icon"></i></a></li>
                    <li class="left"><a th:href="@{'/dealer/cart'}"><i class="fas fa-cart-plus nav-icon"></i></a></li>
                    <li class="left"><a th:href="@{'/dealer/show-pending-product'}"> <i class="fas fa-weight-hanging nav-icon"></i></a></li>
                    <li class="left"><a href="#"> <i class="fas fa-search nav-icon"></i></a></li>
                    <li class="left"><a th:href="@{'/logout'}">  <i class="fas fa-sign-out-alt nav-icon"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
        </span>
  </body>
  <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
  <script th:src="@{/js/jquery-ui.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/form.js}"></script>
</html>
