@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.mynav{
    position: absolute;
    left: 75%;
    bottom: 100%;
}

.navbar {
    border-radius: 17px;
    width: 400px;
    align-content: end;
}
.b{
    position:relative;
}
.a {
    position:absolute;
    left: 81%;
    border: none;
    border-radius: 50%;
    padding-right: 30px ;
    margin-top: 20px;


}
.flax{
    display: flex;
    justify-content: space-evenly;
}
.navbar-light{
    background: rgb(63,94,251);
    background: linear-gradient(302deg, rgba(63, 94, 251, 0.4) 0%, rgba(255, 114, 0, 0.31) 100%);
}

.left{
    float: left;
    height: 50px;
    width: 50px;
    align-content: center;
    padding-top: 15px;
    padding-left: 15px;
}
.left:hover{
    background: rgba(152, 152, 152, 0.74);
    border-radius: 30%;
    width: 55px;
}
.nav-icon{
    color: #e5f9ff;
}