@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
    padding: 0px;
    margin: 0;
    background: linear-gradient(324deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.big-circle1 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgba(229, 249, 255, 0.51);
    right: 50%;
    left: 88%;
    top: 40%;
    transform: translate(-40%, 38%);
}
.price{
    position: absolute;
    left: 22%;
    top: 27%;
}
table {
    position: absolute;
    background: rgba(255, 255, 255, 0.39);
    left: 50%;
    top: 50%;
    text-decoration: none;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    width: 1009px;
    height: 110px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.54), -1px -1px 8px rgba(0, 0, 0, 0.29);
}

tr {
    border: none;
    transition: all .2s ease-in;
    cursor: pointer;
}
table{
    border-radius: 20px;
}
th,
td {
    padding: 12px;
    text-align: left;
    align-items: center;
}

#header {
    border-radius: 20px;
    color: #fff;
    border-bottom: 1px solid white;
}

h1 {
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 10px 0px;
}

tr:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}
